meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"
meta name="viewport" content="width=device-width, initial-scale=1.0"
title= content_for?(:title) ? yield(:title) : 'OMS'
= csrf_meta_tags
= stylesheet_link_tag 'oms', media: 'all'
= javascript_include_tag "https://cdn.tiny.cloud/1/wtef948cq47885yappfl0sikmpcwtwr88pi4xfamk73qm6w4/tinymce/5/tinymce.min.js"
/! Le HTML5 shim, for IE6-8 support of HTML elements
/ [if lt IE 9]
  = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"
